.form {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.header {
  font-size: 36px;
  padding: 20px 20px 0px 20px;
}

.formItem {
  margin: 5px;
}

.submit {
  margin: 10px;
}

.add {
  padding: 15px;
  font-size: 36px;
  color: rgb(78, 161, 78);
  background: none;
  border: none;
}

.add:hover {
  color: rgb(70, 144, 70);
  cursor: pointer;
}

.include {
  background: green;
}

.remove {
  background: red;
}