/* edit forms */

.form {
  display: flex;
  flex-direction: column;
  padding: 0 20px 20px 20px;
}

.header {
  font-size: 36px;
  padding: 20px 20px 0px 20px;
}

.formItem {
  margin: 5px;
}

.submit:disabled {
  opacity: 0.3;
}

.submit {
  padding: 7px 20px;
  border-radius: 5px;
  background: rgb(0, 163, 0);
  color: white;
  border: none;
}

.formLabel {
  margin: 5px;
}

.errors {
  text-align: center;
  color: rgb(255, 0, 0);
}

.add {
  padding: 15px;
  font-size: 36px;
  color: rgb(78, 161, 78);
  background: none;
  border: none;
}

.add:hover {
  color: rgb(70, 144, 70);
  cursor: pointer;
}

.include {
  background: green;
}

.remove {
  background: red;
}

.addTechContainer {
  display: flex;
  justify-content: center;
  overflow: none;
  margin-top: 20px;
}

.addTechButton {
  z-index: 2;
  margin-left: -50px;
  width: 50px;
  border: none;
  background: rgb(0, 163, 0);
  color: white;
  font-size: 24px;
}

.addTechButton:disabled {
  opacity: 0.3
}

.addTechInput {
  padding: 5px 50px 5px 5px;
  width: 200px;
}

.techItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 200px;
  border: 1px solid rgb(218, 218, 218);
  margin: 5px auto;  
}

.removeTech {
  display: flex;
  align-items: center;
  justify-content: center;
  background: red;
  color: white;
  margin: 0 10px;
  border: none;
  border-radius: 50%; 
  width: 20px;
  height: 20px;
}

/* Edit icons */

.uploadPhoto, .editProjects {
  position: absolute;
  font-size: 10px;
  z-index: 10;
  font-size: 24px;
  color: rgb(255, 255, 255);
}

.uploadPhoto {
  top: 10px;
  left: 10px;
}

.editProjects {
  top:-20px;
  right: -30px;
  color: grey;
}

.editTech {
  color: rgb(0, 163, 0);
  margin: 10px;
}

.editTech:hover {
  cursor:pointer;
  opacity: 0.8;
}

.uploadPhoto, .editProjects {
  cursor: pointer;
}

.uploadPhoto i, .editProjects i {
  padding: 5px;
}