.slide {
  height: 400px;
  padding: 0 40px;
  display: flex;
}

.image {
  width: 100%;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  opacity: 0.2;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

.body {
  width: 80%;
  text-indent: 0;
  font-size: 20px;
  margin: auto;
}

.title {
  font-size: 36px;
  font-weight: 800;
  padding: 30px 20px;
}

.desc {
  text-align: right;
  font-weight: 800;
}

@media screen and (max-width: 1200px) {

  .slide {
    padding: 40px 0;
  }

  .image {
    height: 360px;
    top: 25px;
  }

  .desc {
    font-size: 14px;
  }

  .title {
    font-size: 20px;
  }
}