.container {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 800px;
}

.body {
  height: 500px;
  width: 1000px;
  font-size: 24px;
  background: white;
  position: relative;
}

.body__container {
  position: relative;
  height: 100%;
  z-index: 2;
  background: rgb(238, 238, 238);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro {
  font-size: 48px;
  color: grey;
  font-weight: 800;
  padding: 15px;
}

.desc {
  font-size: 36px;
  padding: 15px;
}

@media screen and (max-width: 1200px) {
  

}


