.container {
  height: 200px ;
  background-image: linear-gradient(to left, #00303f, #00556e);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.item {
  margin: 0 50px;
  display: flex;
  flex-direction:column;
  align-items: center;
}

.item:hover .icon {
  transform: scale(1.2);
}

.icon {
  font-size: 36px;
  color: white;
  transition: transform 300ms ease-in-out;
}

.icon:hover {
  color: white;
  text-decoration: none;
}

.words {
  color: white;
  font-size: 14px;
}

@media screen and (max-width: 1000px) { 
  .item {
    margin: 0 25px;
  }
}

