.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90vh;
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.container.sticky {
  margin-bottom: 10vh;
}

.name {
  font-size: 56px;
  font-weight: 800;
  text-align: center;
  padding: 20px;
}

.desc {
  width: 90%;
  margin: auto;
  font-size: 24px;
  text-align: center;
  font-weight: 800;
}

.fixedLinks {
  font-size: 24px;
  text-align: center;
  display: flex;
  flex-direction: column;
  z-index: 3;
  position: fixed;
  top: 50%; 
  left: 0;
  align-items: flex-start;
}

.fixedLink {
  transition: border-radius 1s;
  border: none;
  margin: 1px 0;
  border-right: none;
  display:flex;
  align-items: center;
  justify-content: center;
  padding: 10px !important;
  color: white;
  opacity: 0.8;
}

.fixedLink i {
  width: 50px;
  font-size: 30px;
  padding: 10px;
}

.fixedLink span {
  max-width: 0;
  -webkit-transition: max-width 1s;
  transition: max-width 1s;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  overflow: hidden;
  color: white;
  font-size: 20px;
  font-weight: 800;
}

.fixedLink:hover {
  text-decoration: none;
  color: white; 
  opacity: 1;
  border-radius: 0 15px 15px 0;
}


.fixedLink:hover span {
  max-width: 150px;
  color: white;
  padding: 5px 0 0 0;
}

.fixedLink a {
  padding: 0 24px;
}

@media screen and (max-width: 1200px) { 

  .fixedLink i {
    font-size: 20px;
    width: 30px;
    height: 30px;
    padding: 5px;
  }

  .name {
    font-size: 42px;
  }

  .desc {
    font-size: 24px;
  }
}