.container {
  max-height: 100vh;
  overflow: auto;
  scrollbar-width: none;
}

.closeButton {
  font-size: 24px;
  text-align: center;
  display: flex;
  flex-direction: column;
  z-index: 3;
  position:absolute;
  align-items: flex-end;
  top: 30px;
  right: 0;
  border: none;
  margin: 1px 0;
  border-right: none;
  display:flex;
  align-items: center;
  justify-content: center;
  padding: 10px !important;
  color: white;
  opacity: 0.8;
  background: #ff9966;
}

.links {
  margin-right: 20px;
}

.link {
  font-size: 36px;
  margin: 10px;
  color: #ff9966;
  opacity: 0.8;
  transition: all 300ms ease;
}

.link:hover {
  opacity: 1;
  color: #ff9977;
  text-decoration: none;
  transform: scale(1.3);
}

.closeButton:hover {
  opacity: 1;
}

.closeButton i {
  width: 25px;
}

.container::-webkit-scrollbar {
  display: none;
}

.header {
  padding: 0; 
  width: 90%;
  margin: 100px auto 0 auto;
  position: relative;
}

.header h2 {
  font-size: 56px;
  font-weight: 800;
  color: #ff9966;
}

.top {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.summary {
  padding: 30px;
  font-size: 24px;
  color: grey;
}

.imageContainer {
  width: 600px;
  height: auto;
  margin: 50px auto;
  padding: 30px;
  border-radius: 15px;
  background-color:rgb(230, 230, 230);
  box-sizing: border-box;
}

.image {
  width: 100%;
  padding: 10px;
}

.tech {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 800px;
  margin: auto;
  padding: 30px 0 70px 0;
}

.techItem {
  width: 100px;
  height: 100px;
  display: flex;
  margin: 10px;
  align-items: center;
  border-radius: 50%;
  border: 3px solid rgb(218, 218, 218);
  background: white;
}

.techItem img {
  width: 100px;
  padding: 15px;
}

.featuresContainer {
  width: 90%;
  background: white;
  padding: 20px 0;
  margin: 20px auto;
  color: grey;
}

.featuresContainer h2 {
  text-align: left;
  text-indent: 40px;
  font-size: 48px;
  font-weight: 800;
  padding: 30px 0;
}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.featureContainer {
  margin: 10px;
}

.feature {
  padding: 10px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
  width: 180px;
  height: 150px;
}

.feature i {
  font-size: 36px;
  color: #ff9966;
  padding: 20px;
}

.featureDesc {
  overflow-wrap: break-word;
  font-size: 16px;
}

@media screen and (max-width: 1200px) {

  .header h2 {
    font-size: 48px;
  }

  .summary {
    font-size: 20px;
    padding: 20px;
  }

  .imageContainer {
    width: 95%;
    padding: 5px;
    margin: 20px auto;
  }

  .tech {
    width: 90%;
    padding-bottom: 0;
  }

  .techItem {
    width: 60px;
    height: 60px;
  }

  .techItem img {
    padding: 7px;
  }

  .featuresContainer {
    padding: 10px;
    width: 100%;
    margin-bottom: 0;
  }

  .featuresContainer h2 {
    font-size: 36px;
  }

  .featureContainer {
    width: 80%;
  }

  .feature {
    border-radius: 10px;
    width: 100%;
  }
}