.section {
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.container {
  width: 25%;
  margin: 20px;
  position: relative; 
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sectionTitle {
  font-size: 48px;
  font-weight: 800;
}

.sectionDescription {
  font-size: 24px;
  text-align: center;
}

.errors {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.errors__msg, .notAvailable {
  font-size: 24px;
}

.errors__btn {
  padding: 5px 15px;
  border: none;
  background: none;
  font-size: 48px;
  color: green;
  margin: 10px;
}

@media screen and (max-width: 1200px) { 
  
  .sectionTitle {
    font-size: 36px;
  }
}