.headerContainer {
  padding-top: 40%;
  position: relative;
  width: 100%;
}

.header {
  position: absolute;
  top:0;
  right:0;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgb(0, 48, 63, 0.8);
  color: white;
}

.modalTitle {
  font-size: 48px;
  font-weight: 800;
  position: relative;
}

.description {
  font-size: 20px;
  margin: 30px 20px;
  text-align: center;
}

.featuresContainer {
  position: relative;
  flex: 1 0 auto;
}

.features {
  display: flex;
  justify-content: space-around;
  position: relative;
  width: 100%;
  top: -50px;
  left: 0;
  flex-wrap: wrap;
}

.feature {
  display: flex;
  width: 100px;
  height: 100px;
  background: #00556e;
  box-shadow: 0 0 20px white;
  border-radius: 50%;
  position: relative;
  margin-bottom: 10px;
}

.featureContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 0 auto;
}

.featureIcon {
  position: absolute;
  top:0;
  right:0;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;  
  font-size: 36px;
  color: white;
}

.footerContainer {
  width: 100%;
  display: flex;
}

.featureDesc {
  text-align: center;
  max-width: 250px;
  padding: 10px 0;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  font-size: 18px;
}

.tech {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.techItem {
  border-radius: 5px;
  margin: 0 5px;
  padding: 7px 14px;
  font-size: 20px;
  text-decoration: underline;
  font-style: italic;
  color: grey;
}

.techItem:hover {
  opacity: 0.8;
  cursor: pointer;
}

.liveLink {
  font-size: 24px;
  padding: 10px 40px;
  color: white;
  background: rgb(0, 0, 0, 0.01);
  border: 1px solid white;
  border-radius: 40px;
  text-align: center;
  font-size: 18px;
  margin-top: 10px;
}

.liveLink:hover {
  background: white;
  color: black;
  text-decoration: none;
}

.gitLink {
  height: 100%;
  width: 100%;
}

.gitLink:hover {
  text-decoration: none;
}

.gitLinkContainer {
  font-size: 20px;
  margin: auto; 
}

.closeButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 24px;
  color: rgb(202, 202, 202);
  z-index: 3;
}

.closeButton:hover {
  cursor: pointer;
}

@media screen and (max-width: 1200px) { 

  .tech {
    width: 80%;
  }
  
  .description {
    margin: 5px 25px;
    font-size: 16px;
  }

  .featuresContainer {
    position: relative;
    margin: auto;
  }

  .features {
    height: auto;
    top: 0px;
    margin: 20px 0;
  }

  .feature {
    background: white;
  }

  .featureDesc {
    max-width: 50%;
  }

  .feature i {
    color: #00556e;
    font-size: 48px;
  }

  .featureContainer:nth-child(even) {
    flex-direction: row;
  }

  .featureContainer:nth-child(odd) {
    flex-direction: row-reverse;
  }

  .featureContainer:nth-child(odd) .featureDesc {
    text-align: right;
  }

  .featureContainer:nth-child(even) .featureDesc {
    text-align: left;
  }

  .featureContainer {
    justify-content: center;
    padding: 20px 0;
    width: 90%;
  }

  .title {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    background: none;
    color: white;
  }

  .overlay {
    background: rgb(39, 39, 39, 0.5);  
  }
}

@media screen and (max-width: 992px) { 

  .headerContainer {
    padding-top: 50%;
  }

  .modalTitle {
    font-size: 24px;
  }

  .featureDesc {
    font-size: 16px;
  }

  .description {
    font-size: 14px;
  }

  .liveLink {
    font-size: 12px;
    padding: 7px 21px;
  }

  .techItem {
    font-size: 16px;
    padding: 5px 5px;
  }
}

@media screen and (max-width: 768px) { 

  .headerContainer {
    padding-top: 60%;
  }

  .footerContainer {
    flex-direction: column;
  }

  .tech {
    width: 100%;
    justify-content: center;
  }

  .gitLinkContainer {
    margin-top: 20px;
  }
}

@media screen and (max-width: 576px) { 
  .headerContainer {
    padding-top: 100%;
  }
}
