.App {
  text-align: center;
}

.navbar-sticky {
  position: fixed;
  top: 0;
  width: 100%;
  color: 'white';
}

.navbar-sticky + .content {
  padding-top: 60px;
}

.spacer {
  width: 35%;
  top: 50%;
  border-top: 5px double #7b8894;
}

.step {
  width: 10%;
}

.active {
  color: green;
  border-color: green;
}

.active a i {
  color: green;
}

@media only screen and (max-width: 768px) {
  .spacer, .step-label {
      display: none;
  }
}