body {
  font-family: 'Amiri', serif;
}

.section-spacer {
  width: 20%;
  height: 250px;
}

.projects-section, .contact-section {
  padding-top: 20px;
}

.navbar-sticky {
  position: fixed;
  top: 0;
  left: 0;
  z-index:19;
  background-color: white;
}

.sticky-item {
  padding-top: 10vh;
}

.modal-dialog {
  width: 1000px;
  height: 100%;
  margin: auto;
  display: flex;
}

.modal-content {
  width: 100%;
  border-radius: 0;
  margin: auto;
  overflow: auto;
  background-color: rgb(236, 236, 236);
}

.modal-container {
  max-height: 100vh;
  overflow: auto;
  scrollbar-width: none;
}

.modal-container::-webkit-scrollbar { 
  display: none;
}

.carousel.slide {
  width: 100%;
  padding: 20px;
  display: flex;
}

.carousel-inner {
  margin: auto;
}

.carousel-control-prev, .carousel-control-next {
  filter: invert(100%);
}

.carousel-control-prev-icon {
  font-size: 100px;
} 

.carousel-indicators {
  display:none;
}

.page-content {
  width: 2000px;
  margin: auto;
  background: rgb(243, 243, 243);
}

@media screen and (max-width: 2000px) {
  .page-content {
    width: 100%;
  }
}

@media screen and (max-width: 1200px) {


  .modal-dialog {
    width: 90%;
  }
}
